{% for instance in instances %}
resource "google_compute_instance" "{{ instance['name'] }}" {
  name         = "{{ instance['name'] }}"
  machine_type = "{{ instance['machineType'].rsplit('/', 1)[-1] }}"
  zone         = "{{ instance['zone'].rsplit('/', 1)[-1] }}"
  {% if 'items' in instance['tags'] -%}
  tags = ["{{ instance['tags']['items']|join('", "') }}"]
  {%- endif %}

  {% if 'items' in instance['metadata'] -%}
  metadata = {
    {% for i in instance['metadata']['items'] %}
    {{ i['key'] }} = "{{ i['value'] }}"
    {%- endfor %}
  }
  {% endif -%}

  boot_disk {
  {%- set boot_disk = get_boot_disk_info(instance['disks']) %}
    {% if not boot_disk['existing'] -%}
    initialize_params {
      image = "{{ boot_disk['source_image'] }}"
      type  = "{{ boot_disk['type'] }}"
      size  = "{{ boot_disk['size'] }}"
    }
    {% else -%}
    source      = "{{ boot_disk['name'] }}"
    {% endif -%}
    auto_delete = "{{ instance['disks'][boot_disk['index']]['autoDelete'] }}"
    device_name = "{{ instance['disks'][boot_disk['index']]['deviceName'] }}"
  }

  {% set other_disks = get_other_disks(instance['disks'], boot_disk['index']) -%}
  {%- if other_disks|length > 0 -%}
  {% for disk in other_disks -%}
  attached_disk = {
    source      = "{{ disk['source'] }}"
    device_name = "{{ disk['deviceName'] }}"
  }
  {% endfor -%}
  {%- endif %}

  {% for int in instance['networkInterfaces'] -%}
  network_interface {
    network = "{{ int['network'].rsplit('/', 1)[-1] }}"
    address = "{{ int['networkIP'] }}"

    {% if 'accessConfigs' in int -%}
    access_config {}
    {%- endif %}
  }
  {% endfor -%}

  can_ip_forward        = "{{ instance['canIpForward'] }}"
  scheduling {
    preemptible         = "{{ instance['scheduling']['preemptible'] }}"
    on_host_maintenance = "{{ instance['scheduling']['onHostMaintenance'] }}"
    automatic_restart   = "{{ instance['scheduling']['automaticRestart'] }}"
  }
  service_account {
    scopes = [
    {% for s in instance['serviceAccounts'][0]['scopes'] -%}
      "{{ s }}"{{ "," if not loop.last }}
    {% endfor -%}
    ]
  }
}
{%- endfor -%}
